*.sh text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.swift text eol=lf
*.plist text eol=lf
*.json text eol=lf
*.js text eol=lf
*.css text eol=lf
*.md text eol=lf
Podfile text eol=lf
Gemfile text eol=lf
